AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
BreakBeforeBinaryOperators: false
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerBindsToType: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
UseTab: Never
FixNamespaceComments: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: None